.App {
}

.buildpack-form {
  background-color: hsl(268, 5%, 95%);
  border-bottom: 1px solid hsl(268, 5%, 80%);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.secondary-action {
  background-color: hsl(268, 29%, 48%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.secondary-action:hover {
  background-color: hsl(268, 29%, 38%);
}

.buildpack-input {
  border: none;
  background-color: hsla(0, 0%, 0%, 0);
  width: 100%;
}
